.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.control-dots {
  position: absolute;
  top: 32%;
  left: -25%;
  /* list-style-type: none; */
  /* background: #b3ff26; */
  width: 120px !important;
  height: 100px;
  /* display: flex; */
  /* justify-content: space-between; */
  transform: rotate(90deg);
  /* transform-origin: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background: #fff8f8;
}
@media (min-width: 640px) {
  .control-dots {
    left: -58px;
  }
}
@media (min-width: 1024px) {
  .control-dots {
    left: 50px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
